# Ignore the Following
data/Science_coadd/spec2d*
data/specpro/*
.vscode

# Remove Large Data Files that are not needed (TODO: Store in Google Drive?)
data/Science_coadd/spec2d*
data/specpro/*

# Remove Latex Files that are really not needed
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.synctex.gz
